table {
  background-color: gray;
  color: white;
  width: 100%;
  box-shadow: 3px 5px gray;
}

table,
td {
  cursor: pointer;
  border: 2px solid blue;
  padding: 5px;
  text-align: center;
}

tr :hover {
  background-color: black;
}
th {
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  background-color: black;
}
